<form class="search-mobi-header formSearchHeaderMob">
    <div class="d-lg-none d-block header-mobile">
        <div class="cat-mob-search change-bg-cat c-px-12 c-py-12 position-relative">
            <img src="/assets/frontend/theme_5/image/nam/search.svg" alt="search" class="mw-20 c-ml-12 position-absolute bor-0 ic-search" style="top:20px; left: 12px">
            <input type="text" placeholder="Tìm kiếm" class="change-bg-search-mob brs-8 c-pl-40 bor-0 search-header-mob search-header-input-mob">
            <div class="tooltip-search-hearder input-search-header-mob">
            </div>
        </div>
    </div>
</form>