<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/assets/css/slick.min.css" />
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/css/client.css" />
  </head>
  <body>
    <!-- Login 6 - Bootstrap Brain Component -->
    <section class="bg-primary p-3 p-md-4 p-xl-5" style="height: 100vh">
      <a href="/" class="btn btn-light text-primary fw-bold">Trang chủ</a
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
            <div class="card border-0 shadow-sm rounded-4"><%- body %></div>
          </div>
        </div>
      </div>
    </section>
  </body>
  