<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/assets/css/slick.min.css" />
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/css/client.css" />
  </head>
  <body>
    <%- include('./header.ejs') %> <%- body %>
    <div class="form-group style-border2 col-md-6"><input type="text" class="form-control" name="name" id="name" placeholder="Your Name"> <i class="fal fa-user"></i></div>

  </body>
  
  
  <script src="./assets/js/vendor/jquery-3.7.1.min.js"></script>
  <!-- Bootstrap -->
  <script src="./assets/js/client/bootstrap.min.js"></script>
  <!-- Isotop -->
  <script src="./assets/js/client/isotope.pkgd.min.js"></script>
  <!-- Slick Slider -->
  <script src="./assets/js/client/slick.min.js"></script>
  <!-- Mobile Menu -->
  <script src="./assets/js/client/asmenu.min.js"></script>
  <!-- Main Js File -->
  <script src="./assets/js/client/main.js"></script>
</html>
