<header class="page-header">
  <div class="page-header__inner">
    <div class="page-header__sidebar">
      <div class="page-header__menu-btn">
        <button
          class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button menu-btn"
        >
          <span class="toggle-menu-button-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </button>
      </div>
      <div class="page-header__logo">
        <img src="assets/img/logo.png" alt="logo" /><span
          class="page-header__logo_text"
          >TEAMHOST</span
        >
      </div>
    </div>
    <div class="page-header__content">
      <div class="page-header__search">
        <div class="search">
          <div class="search__input">
            <i class="ico_search"></i
            ><input type="search" name="search" placeholder="Search" />
          </div>
         
        </div>
      </div>
      <div class="page-header__action">
        <a class="action-btn" href="06_chats.html"
          ><i class="ico_message"></i
          ><span class="animation-ripple-delay1"></span
        ></a>
        <a class="action-btn" href="07_friends.html"
          ><i class="ico_notification"></i
          ><span class="animation-ripple-delay2"></span
        ></a>

        <% if(user){ %>
        <ul class="uk-subnav uk-subnav-pill" uk-margin>
          <li>
            <a href="#">
              <img src="<%= user.avatar %>" alt="profile" class="profile" />
              <%= user.username %>
              <span uk-icon="icon: triangle-down"></span
            ></a>
            <div uk-dropdown="mode: click">
              <ul class="uk-nav uk-dropdown-nav">
                <li><a href="#">My account</a></li>
                <li><a href="#">My Password</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#">Log Out</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <% }else{ %>
        <a
          class="uk-margin-small-left"
          href="/tai-khoan/dang-nhap"
          style="background: rgba(244, 97, 25, 0.1); padding: 10px 12px"
          >Đăng nhập</a
        >
        <% } %>
      </div>
    </div>
  </div>
</header>
