<div class="home-content">
  <div class="mb-5">
    <%- include("./service/accgame/list-accgame.ejs") %>
  </div>
  <%- include("./service/tool/list-tool.ejs") %> 
</div>

<style>
  .home-content{
    padding-top: 60px;

  }
</style>