<div class="item-account">
  <div class="card card-hover h-100">
    <a
      href="javascript:void(0)"
      data-id="62935"
      class="card-body scale-thumb"
      data-price="100000"
      data-payment="1"
    >
      <div class="account-thumb c-mb-8 position-realative">
        <img
          src="//cdn3.upanh.info/upload/server-sw3/images/Random%20Lien%20Quan%20Skin%20B%E1%BA%ADc%20SS%20Con.png"
          alt="62935"
          class="account-thumb-image lazy"
          onerror="imgError(this)"
          loading="lazy"
        />
      </div>
      <div class="account-title">
        <div class="text-title fw-700 text-limit limit-1">
          Random Liên Quân Skin SS
        </div>
      </div>
      <div class="price">
        <div class="price-current w-100">100.000đ</div>
        <div class="price-old c-mr-8">200.000đ</div>
        <div class="discount">50%</div>
      </div>
      <div class="price c-pt-12 c-pt-lg-8">
        <button
          type="button"
          class="w-100 btn primary buyacc"
          data-id="62935"
          data-price="100000"
          data-payment="1"
        >
          Mua ngay
        </button>
      </div>
    </a>
  </div>
</div>
