<div class="uk-grid" data-uk-grid>
<div class="uk-width-3-3@l uk-width-3-3@m uk-width-3-3@s">
    <h3 class="uk-text-lead">Recommended Events</h3>
    <div class="js-recommend">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="recommend-slide">
                        <div class="tour-slide__box">
                            <a href=""><img src="https://images.pexels.com/photos/2325447/pexels-photo-2325447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="banner"></a>

                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="recommend-slide">
                        <div class="tour-slide__box">
                            <a href=""><img src="https://images.pexels.com/photos/2325447/pexels-photo-2325447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="banner"></a>


                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="recommend-slide">
                        <div class="tour-slide__box">
                            <a href=""><img src="https://images.pexels.com/photos/2325447/pexels-photo-2325447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="banner"></a>

                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="recommend-slide">
                        <div class="tour-slide__box">
                            <a href=""><img src="https://images.pexels.com/photos/2325447/pexels-photo-2325447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="banner"></a>


                        </div>
                    </div>
                </div>







            </div>
            <div class="swipper-nav">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
</div>