<div class="container c-container d-lg-block d-none c-px-0">
    <div class="d-flex flex-wrap justify-content-between pt-3">
                        <a href="https://shopbacgau.com/mua-acc?nick-option=1" target="_blank" class="d-flex justify-content-center" style="flex-basis: 12.5%">
                <div class="" style="width: 100px;">
                    <div class="ssqXYK OyNMA5 c-mt-0">
                        <div class="VcjTix _03TyL4">
                            <div class="-1zdvZ y2U2TZ vi-tri-0" style="background-image: url(//cdn3.upanh.info/upload/server-sw3/images/Acc%20FF%20Gia%20R%E1%BA%BB.png); background-size: contain; background-repeat: no-repeat;">

                            </div>
                        </div>
                    </div>
                    <div class="_8IM+-o vdmlF5 vi-tri-0">Acc FF giá rẻ</div>
                </div>
            </a>
                        <a href="/minigame" target="_blank" class="d-flex justify-content-center" style="flex-basis: 12.5%">
                <div class="" style="width: 100px;">
                    <div class="ssqXYK OyNMA5 c-mt-0">
                        <div class="VcjTix _03TyL4">
                            <div class="-1zdvZ y2U2TZ vi-tri-1" style="background-image: url(//cdn3.upanh.info/upload/server-sw3/images/adfh.png); background-size: contain; background-repeat: no-repeat;">

                            </div>
                        </div>
                    </div>
                    <div class="_8IM+-o vdmlF5 vi-tri-1">Minigame</div>
                </div>
            </a>
                        <a href="/dich-vu/mua-gamepass-blox-fruits" target="_blank" class="d-flex justify-content-center" style="flex-basis: 12.5%">
                <div class="" style="width: 100px;">
                    <div class="ssqXYK OyNMA5 c-mt-0">
                        <div class="VcjTix _03TyL4">
                            <div class="-1zdvZ y2U2TZ vi-tri-2" style="background-image: url(//cdn3.upanh.info/upload/server-sw3/images/Gamepass%20Blox%20Fruits.png); background-size: contain; background-repeat: no-repeat;">

                            </div>
                        </div>
                    </div>
                    <div class="_8IM+-o vdmlF5 vi-tri-2">Gamepass Blox Fruit</div>
                </div>
            </a>
                        <a href="https://shopbacgau.com/mua-acc?nick-option=2" target="_blank" class="d-flex justify-content-center" style="flex-basis: 12.5%">
                <div class="" style="width: 100px;">
                    <div class="ssqXYK OyNMA5 c-mt-0">
                        <div class="VcjTix _03TyL4">
                            <div class="-1zdvZ y2U2TZ vi-tri-3" style="background-image: url(//cdn3.upanh.info/upload/server-sw3/images/agkk.png); background-size: contain; background-repeat: no-repeat;">

                            </div>
                        </div>
                    </div>
                    <div class="_8IM+-o vdmlF5 vi-tri-3">Acc Liên Quân Giá Rẻ</div>
                </div>
            </a>
                        <a href="/dich-vu/robux-gamepass-120h" target="_blank" class="d-flex justify-content-center" style="flex-basis: 12.5%">
                <div class="" style="width: 100px;">
                    <div class="ssqXYK OyNMA5 c-mt-0">
                        <div class="VcjTix _03TyL4">
                            <div class="-1zdvZ y2U2TZ vi-tri-4" style="background-image: url(//cdn3.upanh.info/upload/server-sw3/images/adasd.png); background-size: contain; background-repeat: no-repeat;">

                            </div>
                        </div>
                    </div>
                    <div class="_8IM+-o vdmlF5 vi-tri-4">Robux 120h Gamepass</div>
                </div>
            </a>
                        <a href="https://shopbacgau.com/mua-acc?nick-option=3" target="_blank" class="d-flex justify-content-center" style="flex-basis: 12.5%">
                <div class="" style="width: 100px;">
                    <div class="ssqXYK OyNMA5 c-mt-0">
                        <div class="VcjTix _03TyL4">
                            <div class="-1zdvZ y2U2TZ vi-tri-5" style="background-image: url(//cdn3.upanh.info/upload/server-sw3/images/Acc%20Roblox%20Gia%20R%E1%BA%BB.png); background-size: contain; background-repeat: no-repeat;">

                            </div>
                        </div>
                    </div>
                    <div class="_8IM+-o vdmlF5 vi-tri-5">Acc Roblox Rẻ</div>
                </div>
            </a>
                </div>
</div>
<div class="container c-container d-lg-none c-px-0">
    <div class="row justify-content-center">
                        <div class="col-3 p-0 mb-3">
                <a href="https://shopbacgau.com/mua-acc?nick-option=1" target="_blank" class="Oc6R99">
                    <div class="RS1UcZ vi-tri-0 row justify-content-center">
                        <img width="invalid-value" height="invalid-value" alt="Acc FF giá rẻ" class="Qk2DU- pcsAgk" style="object-fit: contain" src="//cdn3.upanh.info/upload/server-sw3/images/Acc%20FF%20Gia%20R%E1%BA%BB.png">
                    </div>
                    <div class="+tCIic vi-tri-0 text-center">Acc FF giá rẻ</div>
                </a>
            </div>
                        <div class="col-3 p-0 mb-3">
                <a href="/minigame" target="_blank" class="Oc6R99">
                    <div class="RS1UcZ vi-tri-1 row justify-content-center">
                        <img width="invalid-value" height="invalid-value" alt="Minigame" class="Qk2DU- pcsAgk" style="object-fit: contain" src="//cdn3.upanh.info/upload/server-sw3/images/adfh.png">
                    </div>
                    <div class="+tCIic vi-tri-1 text-center">Minigame</div>
                </a>
            </div>
                        <div class="col-3 p-0 mb-3">
                <a href="/dich-vu/mua-gamepass-blox-fruits" target="_blank" class="Oc6R99">
                    <div class="RS1UcZ vi-tri-2 row justify-content-center">
                        <img width="invalid-value" height="invalid-value" alt="Gamepass Blox Fruit" class="Qk2DU- pcsAgk" style="object-fit: contain" src="//cdn3.upanh.info/upload/server-sw3/images/Gamepass%20Blox%20Fruits.png">
                    </div>
                    <div class="+tCIic vi-tri-2 text-center">Gamepass Blox Fruit</div>
                </a>
            </div>
                        <div class="col-3 p-0 mb-3">
                <a href="https://shopbacgau.com/mua-acc?nick-option=2" target="_blank" class="Oc6R99">
                    <div class="RS1UcZ vi-tri-3 row justify-content-center">
                        <img width="invalid-value" height="invalid-value" alt="Acc Liên Quân Giá Rẻ" class="Qk2DU- pcsAgk" style="object-fit: contain" src="//cdn3.upanh.info/upload/server-sw3/images/agkk.png">
                    </div>
                    <div class="+tCIic vi-tri-3 text-center">Acc Liên Quân Giá Rẻ</div>
                </a>
            </div>
                        <div class="col-3 p-0 mb-3">
                <a href="/dich-vu/robux-gamepass-120h" target="_blank" class="Oc6R99">
                    <div class="RS1UcZ vi-tri-4 row justify-content-center">
                        <img width="invalid-value" height="invalid-value" alt="Robux 120h Gamepass" class="Qk2DU- pcsAgk" style="object-fit: contain" src="//cdn3.upanh.info/upload/server-sw3/images/adasd.png">
                    </div>
                    <div class="+tCIic vi-tri-4 text-center">Robux 120h Gamepass</div>
                </a>
            </div>
                        <div class="col-3 p-0 mb-3">
                <a href="https://shopbacgau.com/mua-acc?nick-option=3" target="_blank" class="Oc6R99">
                    <div class="RS1UcZ vi-tri-5 row justify-content-center">
                        <img width="invalid-value" height="invalid-value" alt="Acc Roblox Rẻ" class="Qk2DU- pcsAgk" style="object-fit: contain" src="//cdn3.upanh.info/upload/server-sw3/images/Acc%20Roblox%20Gia%20R%E1%BA%BB.png">
                    </div>
                    <div class="+tCIic vi-tri-5 text-center">Acc Roblox Rẻ</div>
                </a>
            </div>
                </div>
</div>