<div class="col-md-6 col-lg-4  ">
    <div class="thumb-box style2 ">
        <div class="thumb-img">
            <img src="<%= image %>"  alt="Home One">
        </div>
        <div class="thumb-box-content">
            <h3 class="thumb-title"><a target="_blank" href="demo/index.html"><%= name %></a></h3>
            <p class="thumb-text"><%= price %></p>

            <div class="btn-wrap">
                <a target="_blank" href="demo/index.html" class="th-btn ">VIEW DEMO</a>
            </div>
        </div>
    </div>
</div>