<div class="welcome-page">
  <div class="uk-width-expand@m page-first-screen">
    <div class="fl-hd-cover"></div>
    
    <div class="form-login">
      <div class="form-login__box">
        <div class="uk-margin uk-text-left"><a href="/">Trang chủ</a></div>
        <div class="uk-heading-line uk-text-center">Đăng nhập</div>
        <form action="/tai-khoan/dang-nhap" method="post">
       
          <div class="uk-margin">
            <input
              class="uk-input"
              type="email"
              placeholder="Email"
              name="email"
            />
          </div>
          <div class="uk-margin uk-position-relative input-password">
            <input
              class="uk-input"
              type="password"
              placeholder="Mật khẩu"
              name="password"
            />
            <i class="fa-solid fa-eye show-password"></i>
          </div>
          
          <div class="uk-margin">
            <button
              class="uk-button uk-button-danger uk-width-1-1"
              type="submit"
            >
              Đăng nhập
            </button>
          </div>
          <div class="uk-margin uk-text-center">
            <a href="01_login-in.html">Forgotten password?</a>
          </div>
          <hr />
          <div class="uk-text-center">
            <span>Bạn chưa có tài khoản?</span
            ><a class="uk-margin-small-left" href="/tai-khoan/dang-ky"
              >Đăng ký</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
